.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
	width: 100%;
	height: calc(100vh - 0px);
	margin-top: 0px;
}

#container .left{
  background-color: #232326;
  height: calc(100vh - 0px);
  /* height: 100% !important; */
  position: fixed;
  
}
.right{
background-color:white;
    
    height: calc(100vh - 0px);
    position: fixed;
    right: 0;
    overflow-y: scroll;
    /* display: none */
    ;
    /* border-radius: 15px; */
}
.feature-box-icon{
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right:2rem;
  /* right: calc(33.3333% + 2rem); */
}

.feature-box-icon .buttons{
  width: max-content;
  margin: auto;
}
.feature-box-icon .buttons button{ 
 margin: 0.5rem;
 width: 65px;
 height: 65px;
 border-radius: 100%;
}

.shutter{
  background-color: transparent;
  border: none;
}
.retake{
  background-color: transparent;
  border: none;
}
.progress{
  width: calc(50% - 10px);
  float: left;
  margin-right: 10px;
}
.bg-fast-blue {
	background: linear-gradient(to right,#e42564,#fa6259,#e42564);
}
.btn-link.text-fast-blue, .text-fast-blue, a.text-fast-blue-hover:hover {
	color: #eb3860;
}
.cover-background{
  background-position: 75% center !important;
}
video{
  height: 100%;

}